.input {
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 21px;
  background: none;
  border: 0.6px solid #bd6ab6;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  outline: none;
  &::placeholder {
    color: #fff;
  }
}
