.section_list_promo {
  display: flex;
  padding: 0 0 0 150px;
  max-width: 1200px;

  @media (max-width: 375px) {
    flex-direction: column;
    padding: 0;
  }
  .section_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 40%;
    height: 150px;
    border-left: 1px solid #373737;
    padding: 25px;
    font-family: "SF";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 98%;
    color: #ffffff;

    @media (max-width: 375px) {
      width: 100%;
      flex-direction: row;
      align-items: center;
      padding: 0;
      border: none;
      gap: 20px;
      font-size: 18px;
      height: 120px;
    }

    img {
      width: 51px;
    }
  }
}
