.select {
  font-size: 17px;
  box-sizing: border-box;
  padding: 15px;
  border: 0.6px solid #bd6ab6;
  border-radius: 10px;
  font-size: 21px;
  color: #ffffff;
  background: none;
  outline: none;
}
