.section_screen {
  min-height: 100vh;

  video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .section_inner {
    .section_title_box {
      .section_title {
        width: 45%;
        padding: 141px 0 92px 24px;
        font-family: "SF";
        font-style: normal;
        font-weight: 600;
        font-size: 100px;
        line-height: 89%;
        color: #ffffff;
      }
    }
    .section_btn_partner {
      position: relative;
      .section_btn {
        display: flex;
        gap: 40px;
        position: absolute;
        width: unset;
        height: 90px;
        font-family: "SF";
        bottom: 80px;
        right: -35px;
        padding: 0 100px 0 50px;
        font-style: normal;
        font-weight: 700px;
        font-size: 33.08px;
        line-height: 98%;
        background: #e00c69;
        color: #ffffff;
        transform: skew(33deg, 0);
        text-decoration: none;
        span {
          transform: skew(-33deg, 0);
        }
        img {
          transform: skew(-33deg, 0);
        }
      }

      .section_btn_img {
        width: 10px;
        margin: 0 0 0 0;
      }
    }
    .arrow_box {
      position: relative;
      .arrow {
        position: absolute;
        top: 80px;
        left: 20px;
      }
    }
  }
}
