.header {
  background-color: rgba(#000000, 0.3);
  font-family: "SF";
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  @media (max-width: 767px) {
    position: relative;
  }

  .container {
    max-width: 1680px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @media (max-width: 767px) {
      padding: 0 16px;
    }

    .box__left {
      display: flex;
      justify-content: space-evenly;
      z-index: 6;
      @media (max-width: 767px) {
        .logo {
          width: 143px;
        }
      }

      .title {
        max-width: 206px;
        height: 53px;
        text-align: center;
        padding: 15px 40px;
        font-family: "SF";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;

        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    .box__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 6;
      .lang {
        padding: 0 40px;
        z-index: 100;
        @media (max-width: 767px) {
          padding: 0;
        }
      }

      .section_btn {
        display: flex;
        padding: 10px 26px;

        @media (max-width: 767px) {
          padding: 5px 10px;
          width: 93px;
          height: 38px;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 100%;
          background-color: #000000;

          img {
            padding: 0;
          }
        }

        img {
          padding: 0 0 0 11px;
        }
      }
    }
    .line {
      border-bottom: #ffffff 1px solid;
    }
  }
  .container__scroll {
    border-top: #ffffff54 1px solid;
    padding: 20px 0;
  }

  .modal__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 89%;
    padding: 13px 0;

    color: #ffffff;

    @media (max-width: 767px) {
      font-size: 30px;
    }
  }
  .modal_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 15px;

    .modal__btn {
      padding: 10px 25px;
      gap: 10px;
    }
  }

  .authorization__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 15px;

    .authorization__title {
      font-style: normal;
      font-weight: 600;
      font-size: 3vw;
      line-height: 89%;
      padding: 13px 0;

      color: #ffffff;
    }

    .authorization__text {
      font-style: normal;
      font-weight: 600;
      font-size: 1vw;
      line-height: 89%;
      padding: 13px 5px;
      background-color: #e00c69;
      border-radius: 12px;

      color: #ffffff;
    }
  }
}
